.motion-animation-wrapper {
    z-index: 999;

    align-items: flex-start;
    will-change: opacity;

    &[data-debug]{
        background: rgb(255 0 0 / 30%);
    }
}


.motion-mask-wrapper {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    inset: 0;

    z-index: 998;
    pointer-events: auto;
    will-change: transform, opacity;
}
